<div id="cf" data-template="text" data-theme="{{theme}}">
  <b>{{creative.headline}}</b>
  {{creative.body}}
  <a href="{{urls.campaign}}" class="cf-cta" target="_blank" rel="sponsored noopener">
    <b>{{creative.cta}}</b>
  </a>
  <img src="{{urls.impression}}" alt="" class="cf-hidden">
  <a href="{{urls.poweredBy}}" class="cf-hidden" rel="sponsored noopener"></a>
</div>
